* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 41px 10px rgba(0, 0, 0, 0.1);
}

.img-section {
  width: 45%;
}

.description {
  width: 45%;
}

.product {
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-size {
  width: 400px;
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 20px 0 20px 0;
}

.btn-size li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  height: 30px;
  width: 40px;
  background: blue;
  border-radius: 5px;
  color: #fff;
}

.btn {
  display: flex;
  align-items: center;
  gap: 20%;
}

.btn button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: blue;
  width: 130px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 15px;
}

.price p {
  font-size: 20px;
  font-weight: 400;
}

/* ********************************** */
/*!               swiper               */
/* ********************************** */

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  /* display: sw </swiper-slidek; */
  width: 100%;
  height: 110%;
  object-fit: cover;
}

swiper-container {
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  /* display: sw </swiper-slidek; */
  width: 90%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 890px) {
  .container {
   width: 90%;
   height: 90vh;
    display: flex;
    flex-direction: column;
  }
.img-section{
    /* margin-top: 100px; */
    width: 90%;
    height: 500px;
}

.description{
    width: 90%;
}

}
@media only screen and (max-width: 768px) {
  .container {
   width: 90%;
   height: 90vh;
    display: flex;
    flex-direction: column;
  }
.img-section{
    /* margin-top: 50px; */
    width: 90%;
    /* height: 500px; */
}

.description{
    width: 90%;
}

}
@media only screen and (max-width: 450px) {
  .container {
   width: 90%;
   height: 90vh;
    display: flex;
    flex-direction: column;
  }
.img-section{
    /* margin-top: 50px; */
    width: 90%;
    /* height: 500px; */
}

.description{
    width: 90%;
}

.descr-container{
    font-size: 13px;
}

.title h2, .product h3 .storage{
    font-size: 20px;
}

.btn-size{
    margin: 10px 0 10px 0;
}


}
